.drop-file-preview {
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid blue;*/
}

.drop-file-preview__item {
    display: flex;flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    /*border: 1px solid blue;*/
    border-radius: 10px;
    background-color: #e7efa6;
    margin: 10px 0 10px 0;
}

.drop-file-preview__item__del {
    padding: 5px 10px;
    /*border: 1px solid red;*/
    border-radius: 50%;
    background-color: #d2d278;

}

.drop-file-preview__image {
    max-width: 40px;
    max-height: 40px;
}