.server-container {
    /*border: 1px dashed black;*/
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.server-status-box {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    /*border: 1px dashed red;*/
}

.server-command-box {
    /*margin-right: 20px;*/
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    /*border: 1px solid sienna;*/
}

.server-command-button {
    margin-left: 10px;
}
