@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

.App {
    /*border: 1px dashed royalblue;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #f5e260;
}



.files-simple-box {
    /*border: 1px solid blue;*/
}

.files-view-box {
    /*border: 1px solid blue;*/
    min-height: 200px;
}

.submit-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}