@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

.App {
    /*border: 1px dashed royalblue;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.server-container {
    /*border: 1px dashed black;*/
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.server-command-button {
    margin-right: 20px;
}

.app-box {
    /*border: 1px solid sienna;*/
    width: 80%;
    padding: 20px 100px;
    margin: 40px;
    background-color: #ebe6ba;
    border-radius: 10px;
    min-height: 600px;
}

.files-simple-box {
    /*border: 1px solid blue;*/
}

.files-view-box {
    /*border: 1px solid blue;*/
    min-height: 200px;
}

.submit-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}