.excel-handler-wrapper {
    /*border: 1px solid sienna;*/
    /*border-radius: 20px;*/
    background-color: honeydew;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
}

